.borderpane{
    -fx-background-color: #fff;
}

Button {
    -fx-background-color : #444444;
    -fx-text-fill : white;
}

Label {
-fx-text-fill : gray;
}

Spinner {
    -fx-background-color : gray;
    -fx-text-fill : white;
}

